<!DOCTYPE html>
<html>
    <head>
        <title>Star Wars Planets</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/displaySWapi.js" defer></script>
    </head>
    <body>
        <h1> This is a test </h1>
        <button id="previous-button">Previous</button>
        <button id="next-button">Next</button>
        <table style="width:100%" id="planet-table">
            <tr>
                <th>Name</th>
                <th>Diameter</th> 
                <th>Climate</th>
                <th>Gravity</th>
                <th>Terrain</th>
                <th>Water</th>
                <th>Population</th>
                <th>Residents</th>
            </tr>
        </table>
    </body>