<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <p>Please enter your username:</p>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <p>Please enter your password:</p>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">LogIn</button>
        </form>
    </body>
</html>